nav {
    background-color: #3c8dd4;
    color: #ffffff;
    font-size: 1.5em;
}

#header {
    background-color: #3c8dd4;
    color: #ffffff;
    height: 500px;
    font-size: 5em;
    padding-top: 100px;
}

#footer {
    text-align: center;
}

.nav-item {
    cursor: pointer;
}

.nav li a {
    color: #ffffff;
}

.nav li a:hover {
    background-color: inherit;
    border-bottom: 2px solid #ffffff;
}

ul {
    list-style-type: none;
}

#map {
    cursor: pointer;
}

article {
    padding: 30px;
}

article:nth-child(2n+1) {
    background-color: #eeeeee;
}

article:nth-child(2n) {
    background-color: #dddddd;
}